.bs-table td, .bs-table th{
    text-align: center;
    border: 1px solid #999;
    padding: 8px;
}
.bs-table tr{
    border-bottom: 1px;
}
table.bs-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90% !important;
}
  
.bs-table tr:nth-child(even) {
background-color: #dddddd;
}

.loader {
    margin: auto;
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 1rem;
    height: 1rem;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }

  .wp-picker-container .hidden{
    display: block !important;
    visibility: hidden;
  }
.wp-picker-container:not(.wp-picker-active){
  height:20px;
}
input[type="number"]{
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
}
#shorten_icon_color_custom_text{
  visibility: hidden;
}
  /* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


  .bs_social_buttons_wrapper{
    display: flex;
    flex-wrap: wrap;
  }
  body .form-table .bs_social_buttons_wrapper label{
    padding: 30px;
    width: 20%;
    margin: 5px !important;
  }
  .bs_social_buttons_wrapper label i{
    font-size: 20px !important;
  }
  .bs_social_buttons_wrapper label::before{
    content: "" !important;
  }
  .shorten_url_social_link_input{
    visibility: hidden;
    position: absolute;
  }
  .shorten_url_social_link_input:not(:checked) + label, .shorten_url_social_link_input:not(:checked) + label i{
    background-color: #666;
  }